In [34]:
import pandas as pd

df = pd.read_csv('Life Expectancy Data.csv')

print(df.head())

       Country  Year      Status  Life expectancy   Adult Mortality  \
0  Afghanistan  2015  Developing              65.0            263.0
1  Afghanistan  2014  Developing              59.9            271.0
2  Afghanistan  2013  Developing              59.9            268.0
3  Afghanistan  2012  Developing              59.5            272.0
4  Afghanistan  2011  Developing              59.2            275.0

   infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   ...  \
0             62     0.01               71.279624         65.0      1154  ...
1             64     0.01               73.523582         62.0       492  ...
2             66     0.01               73.219243         64.0       430  ...
3             69     0.01               78.184215         67.0      2787  ...
4             71     0.01                7.097109         68.0      3013  ...

   Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  Population  \
0    6.0               8.16         65.0        0.1  584.259210  33736494.0
1   58.0               8.18         62.0        0.1  612.696514    327582.0
2   62.0               8.13         64.0        0.1  631.744976  31731688.0
3   67.0               8.52         67.0        0.1  669.959000   3696958.0
4   68.0               7.87         68.0        0.1   63.537231   2978599.0

    thinness  1-19 years   thinness 5-9 years  \
0                   17.2                 17.3
1                   17.5                 17.5
2                   17.7                 17.7
3                   17.9                 18.0
4                   18.2                 18.2

   Income composition of resources  Schooling
0                            0.479       10.1
1                            0.476       10.0
2                            0.470        9.9
3                            0.463        9.8
4                            0.454        9.5

[5 rows x 22 columns]

In [35]:
print(df.columns)

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [36]:
columns_to_drop = [ 'Status', 'percentage expenditure',
       'Measles ', 'under-five deaths ', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling']  # List of column names to drop
df = df.drop(columns=columns_to_drop)

In [47]:
columns_of_interest = ['Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'Hepatitis B', ' BMI ', 'Polio']


i = 0
for i in range(i, i+15):
       df[columns_of_interest].iloc[i:i+15].mean()
       i = i+15

In [48]:
df['Range of years'] = "2000-2017"

In [49]:
print(df.columns)

Index(['Country', 'Range of years', 'Year', 'Life expectancy ',
       'Adult Mortality', 'infant deaths', 'Alcohol', 'Hepatitis B', ' BMI ',
       'Polio'],
      dtype='object')

In [50]:
column_to_move = df.pop('Range of years')  
df.insert(1, 'Range of years', column_to_move)

In [51]:
print(df)

          Country Range of years  Year  Life expectancy   Adult Mortality  \
0     Afghanistan      2000-2015  2015              65.0            263.0
1     Afghanistan      2000-2015  2014              59.9            271.0
2     Afghanistan      2000-2015  2013              59.9            268.0
3     Afghanistan      2000-2015  2012              59.5            272.0
4     Afghanistan      2000-2015  2011              59.2            275.0
...           ...            ...   ...               ...              ...
2933     Zimbabwe      2000-2015  2004              44.3            723.0
2934     Zimbabwe      2000-2015  2003              44.5            715.0
2935     Zimbabwe      2000-2015  2002              44.8             73.0
2936     Zimbabwe      2000-2015  2001              45.3            686.0
2937     Zimbabwe      2000-2015  2000              46.0            665.0

      infant deaths  Alcohol  Hepatitis B   BMI   Polio
0                62     0.01         65.0   19.1    6.0
1                64     0.01         62.0   18.6   58.0
2                66     0.01         64.0   18.1   62.0
3                69     0.01         67.0   17.6   67.0
4                71     0.01         68.0   17.2   68.0
...             ...      ...          ...    ...    ...
2933             27     4.36         68.0   27.1   67.0
2934             26     4.06          7.0   26.7    7.0
2935             25     4.43         73.0   26.3   73.0
2936             25     1.72         76.0   25.9   76.0
2937             24     1.68         79.0   25.5   78.0

[2938 rows x 10 columns]